<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="moviesAddTitulo"></h1>
    <br>
    <section id="formulario" >
        <article >
            <div class="is-invalid-txt">
                <ul>

                </ul>
            </div>
            <form action="/movies/create" method="POST">
                <label for="title">Titulo </label>
                <p class="titleValidation"></p>
                <p><input type="text" name="title" id="title" autofocus></p>

                <label for="rating">Calificación </label>
                <p class="ratingValidation"></p>
                <p><input type="number" name="rating" id="rating" > </p>
                
                <label for="awards">Premios </label>
                <p class="awardsValidation"></p>
                <p><input type="number" name="awards" id="awards" ></p>
                
                <label for="release_date">Fecha de creación </label>
                <p class="release_dateValidation"></p>
                <p><input type="date" name="release_date" id="release_date" ></p>
                
                <label for="length">Duración </label>
                <p class="lengthValidation"></p>
                <p><input type="number" name="length" id="length" ></p>
                
                <label for="genreID">Género </label>
                <p class="genreValidation"></p>
                <p>
                    <select name="genre_id" id="genre_id" >
                        <option value="" disabled selected>- Seleccione el género - </option>
                        <% allGenres.forEach(genre => { %>
                        <option value="<%= genre.id %>"><%= genre.name %></option>
                        <% }); %>
                    </select>
                </p>
                <br>
                <p> <button class="botonAgregar" type="submit">Agregar</button>
                
                <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
            </form>
        </article>
    </section>
    <script src="/js/moviesAddValidation.js"></script>
</body>
</html>